* {
    background-color: #FFF;
}


.etch {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 5%;
    padding: 5%;
}

.change-grid {
    display: flex;
    gap: 10px;
}

.change-fade {
    display: flex;
    gap: 10px;
}

.grid-container {
    display: grid;
    height: 500px;
    width: 500px;
    border: solid 2px #154360;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.colors {
    display: flex;
    gap: 20px;
}

.custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 8px 0 #0000008f;
    height: 125px;
    width: 125px;
    padding-top: 5px;
}

#customColor {
    height: 75px;
    width: 75px;
    border: none;
    padding: 0px;
}

.custom label {
    text-align: center;
}

.colors button {
    height: 75px;
    width: 75px;  
    border: none;   
}

.grey {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 8px 0 #0000008f;
    height: 125px;
    width: 125px;
    padding-top: 5px;
}

.rainbow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 4px 8px 0 #0000008f;
    height: 125px;
    width: 125px;
    padding-top: 5px;
}

#greyscale {
    background-color: grey;
}

.grey label {
    padding: 5px;
}

#rainbow {
    background-color: red;
}

.rainbow label {
    padding: 5px;
}

#gridSize {
    width: 75px;
}

.selected {
    box-shadow: 0px 4px 8px 0 #1683088f;
}